@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --pri-bright-color: hsl(31, 77%, 52%);
    --pri-cyan-color: hsl(184, 100%, 22%);
    --pri-dark-color: hsl(179, 100%, 13%);

    --transparent-white-color: hsla(0, 0%, 100%, 0.75);
    --light-gray-color:  hsl(0, 0%, 95%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 15px;
    line-height: 1.6;
}

.content {
    min-height: 100vh;
    display: flex;
    align-content: center;
}

.container {
    max-width: 960px;
    border-radius: 15px;
    overflow: clip;
    margin: auto;
}

.inner-container {
    padding: 50px;
}

header ul {
    list-style-type: none;
}

header a {
    text-decoration: none;
    border-radius: 50px;
    margin: 10px;
    background-color: darkslategrey;
    padding: 12px;
    font-size: 20px;
    color: lightblue;
}

header a:hover {
    padding: 15px;
}

header {
    width: 100%;
    padding: 20px;
}

ul {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    border-radius: 50px;
    padding: 1.2em;
    background-color: var(--light-gray-color);
    font-family: inherit;
    font-size: inherit;
}

.text-content button:hover {
    cursor: pointer;
    padding: 1.05em;
    border: 2px solid var(--light-gray-color);
    background-color: transparent;
    color: var(--light-gray-color);
}

.text-content {
    font-family: 'Lexend Deca', sans-serif;
    margin: 10px;
}

.text-content h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 3em;
    color: var(--light-gray-color);
    text-transform: uppercase;
    margin: 20px 0;
}

.text-content p {
    color: var(--transparent-white-color);
    margin-bottom: 40px;
}

.orange {
    background-color: var(--pri-bright-color);
}
.orange button{
    color: var(--pri-bright-color);
}

.cyan {
    background-color: var(--pri-cyan-color);
}
.cyan button {
    color: var(--pri-cyan-color);
}

.dark {
    background-color: var(--pri-dark-color);
}
.dark button {
    color: var(--pri-dark-color);
}

@media (min-width: 768px) {
    .container {
        display: flex;
        justify-content: center;
        align-content: center;
    }

}

/*Grid styling starts here*/

.page-wrapper {
    background-color: #1A1C28;
}

.grid-container {
    max-width: 900px;
    margin: 30px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.box {
    padding: 50px;
}

.orange-box {
    background-color: #EB5020;
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
}

.yellow-box {
    background-color: #FFA401;
    grid-column: 4 / end;
    grid-row: 1 / span 2;
}

.green-box {
    background-color: #05AA42;
    grid-column: 1 / span 2;
    grid-row: 3 / end;
}

.blue {
    background-color: #01AEFD;
}

.blue1-box {
    grid-column: 3 / end;
}

.blue2-box {
    grid-column: 3 / end;
}
